@import 'vendor/*.css';
@import 'pages/index.scss';

*, body {
    font-family: "Arial";
    background-color: #DDDEEE;
    font-size: 15pt;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
}